## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

# site
playground
storybook-static
custom-elements.json
*.docs.js
*.script.js
*.styles.js
